.env
sync_fiche_retro.py
sync_local_to_prod.py
sync_utilisateur.py
sync_centres.py
sync_regions_districts.py

sync_patients.py
sync_vaccin_lots.py
sync_vaccine_exts.py
sync_consultation.py

management/commands/*
/management/commands/*

venv/
.env.*

# Fichiers compilés
*.pyc
__pycache__/

# Bases de données locales
*.sqlite3

# Fichiers temporaires
*.log
*.pot
*.mo
*.swp
