.env
sync_fiche_retro.py
sync_local_to_prod.py
sync_utilisateur.py
sync_centres.py

management/commands/*
/management/commands/*

venv/
.env.*

# Fichiers compilés
*.pyc
__pycache__/

# Bases de données locales
*.sqlite3

# Fichiers temporaires
*.log
*.pot
*.mo
*.swp
