{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

<div class="nk-main">
    <!-- wrap @s -->
    <div class="nk-wrap">
        <!-- main header @s -->
        <div class="nk-header nk-header-fixed is-light" style="background: #009A44;">
            <div class="container-fluid">
                <div class="nk-header-wrap">
                    <div class="nk-menu-trigger d-xl-none ml-n1">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu text-white"></em></a>
                    </div>
                    <div class="nk-header-brand d-xl-none">
                        <a href="#" class="logo-link">
                            <img class="logo-img" src="{% static 'images/logo-white.png' %}" alt="KENEYA" width="120">
                        </a>
                    </div>
                    <div class="nk-header-news d-none d-xl-block">
                        <div class="nk-news-list">
                            <a class="nk-news-item text-white" href="#">
                                <div class="nk-news-icon">
                                    <em class="icon ni ni-alert text-white"></em>
                                </div>
                                <div class="nk-news-text">
                                    <p class="text-white">Votre santé, notre priorité. <span>KENEYA - Plateforme INHP</span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="nk-header-tools">
                        <ul class="nk-quick-nav">
                            <li class="dropdown notification-dropdown mr-n1">
                                <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                                    <div class="icon-status icon-status-info"><em class="icon ni ni-bell text-white"></em></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right dropdown-menu-s1">
                                    <div class="dropdown-head">
                                        <span class="sub-title nk-dropdown-title">Notifications</span>
                                        <a href="#">Tout marquer comme lu</a>
                                    </div>
                                    <div class="dropdown-body">
                                        <div class="nk-notification">
                                            {% for notif in notifications %}
                                            <div class="nk-notification-item dropdown-inner">
                                                <div class="nk-notification-icon">
                                                    <em class="icon icon-circle bg-{% if notif.important %}danger{% else %}success{% endif %}-dim ni ni-{% if notif.type == 'vaccin' %}syringe{% else %}calendar{% endif %}"></em>
                                                </div>
                                                <div class="nk-notification-content">
                                                    <div class="nk-notification-text">{{ notif.message }}</div>
                                                    <div class="nk-notification-time">{{ notif.date|timesince }}</div>
                                                </div>
                                            </div>
                                            {% empty %}
                                            <div class="nk-notification-item dropdown-inner text-center py-3">
                                                Aucune nouvelle notification
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="dropdown-foot center">
                                        <a href="#">Voir tout</a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown user-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <div class="user-toggle">
                                        <div class="user-avatar sm bg-orange">
                                            {{ request.user.nom|first }}{{ request.user.prenoms|first }}
                                        </div>
                                        <div class="user-info d-none d-md-block">
                                            <div class="user-status text-white">{{ request.user.code_patient }}</div>
                                            <div class="user-name dropdown-indicator text-white">{{ request.user.nom }} {{ request.user.prenoms }}</div>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                                    <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                        <div class="user-card">
                                            <div class="user-avatar bg-orange">
                                                <span>{{ request.user.nom|first }}{{ request.user.prenoms|first }}</span>
                                            </div>
                                            <div class="user-info">
                                                <span class="lead-text">{{ request.user.nom }} {{ request.user.prenoms }}</span>
                                                <span class="sub-text">{{ request.user.code_patient }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown-inner">
                                        <ul class="link-list">
                                            <li><a href=""><em class="icon ni ni-user-alt"></em><span>Mon Profil</span></a></li>
                                            <li><a href=""><em class="icon ni ni-calendar"></em><span>Mes Rendez-vous</span></a></li>
                                            <li><a href=""><em class="icon ni ni-file-text"></em><span>Mes Documents</span></a></li>
                                        </ul>
{#                                         <ul class="link-list">#}
{#                                            <li><a href="{% url 'profil_patient' %}"><em class="icon ni ni-user-alt"></em><span>Mon Profil</span></a></li>#}
{#                                            <li><a href="{% url 'mes_rendezvous' %}"><em class="icon ni ni-calendar"></em><span>Mes Rendez-vous</span></a></li>#}
{#                                            <li><a href="{% url 'mes_documents' %}"><em class="icon ni ni-file-text"></em><span>Mes Documents</span></a></li>#}
{#                                        </ul>#}
                                    </div>
                                    <div class="dropdown-inner">
                                        <ul class="link-list">
                                            <li><a href="{% url 'account_logout' %}"><em class="icon ni ni-signout"></em><span>Déconnexion</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- main header @e -->

        <!-- content @s -->
        <div class="nk-content" style="background-color: #f8f9fa;">
            <div class="container-fluid">
                <div class="nk-content-inner">
                    <div class="nk-content-body">
                        <div class="nk-block">
                            <div class="card card-bordered" style="border-radius: 10px; overflow: hidden;">
                                <div class="card-aside-wrap">
                                    <div class="card-inner card-inner-lg">
                                        <div class="nk-block-head nk-block-head-lg">
                                            <div class="nk-block-between">
                                                <div class="nk-block-head-content">
                                                    <h4 class="nk-block-title">Bonjour {{ request.user.prenoms }} <span class="text-success">👋</span></h4>
                                                    <div class="nk-block-des">
                                                        <p>Bienvenue sur votre espace personnel KENEYA. Consultez et gérez vos informations de santé en toute sécurité.</p>
                                                    </div>
                                                </div>
                                                <div class="nk-block-head-content align-self-start d-lg-none">
                                                    <a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Statistiques rapides -->
                                        <div class="row g-4 mb-4">
                                            <div class="col-md-4">
                                                <div class="card card-bordered bg-light" style="border-left: 4px solid #FF9F0D;">
                                                    <div class="card-inner">
                                                        <div class="d-flex align-items-center">
                                                            <div class="icon-circle bg-orange-dim me-3">
                                                                <em class="icon ni ni-syringe-fill text-orange"></em>
                                                            </div>
                                                            <div>
                                                                <h5 class="mb-0">{{ vaccins_complets }} / {{ vaccins_total }}</h5>
                                                                <span class="text-soft">Vaccins complets</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card card-bordered bg-light" style="border-left: 4px solid #009A44;">
                                                    <div class="card-inner">
                                                        <div class="d-flex align-items-center">
                                                            <div class="icon-circle bg-success-dim me-3">
                                                                <em class="icon ni ni-calendar-fill text-success"></em>
                                                            </div>
                                                            <div>
                                                                <h5 class="mb-0">{{ rdv_count }}</h5>
                                                                <span class="text-soft">Rendez-vous à venir</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card card-bordered bg-light" style="border-left: 4px solid #0055A4;">
                                                    <div class="card-inner">
                                                        <div class="d-flex align-items-center">
                                                            <div class="icon-circle bg-primary-dim me-3">
                                                                <em class="icon ni ni-file-docs-fill text-primary"></em>
                                                            </div>
                                                            <div>
                                                                <h5 class="mb-0">{{ documents_count }}</h5>
                                                                <span class="text-soft">Documents médicaux</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Section Vaccinations -->
                                        <div class="nk-block card card-bordered">
                                            <div class="card-header border-bottom">
                                                <h5 class="title">Mon Carnet Vaccinal <em class="icon ni ni-syringe"></em></h5>
                                                <p>Historique complet de vos vaccinations en Côte d'Ivoire</p>
                                            </div>

                                            {% for item in maladies_vaccins %}
                                            <div class="card mb-4 border-0 shadow-sm">
                                                <div class="card-header d-flex justify-content-between align-items-center {% if item.doses_completes %}bg-success text-white{% else %}bg-warning{% endif %}" style="border-radius: 8px 8px 0 0 !important;">
                                                    <div>
                                                        <h4 class="mb-0">{{ item.maladie.nom }}</h4>
                                                        <p class="mb-0">
                                                            Statut:
                                                            {% if item.doses_completes %}
                                                                <strong>Complet</strong> <em class="icon ni ni-check-circle-fill"></em>
                                                            {% else %}
                                                                <strong>Incomplet</strong>
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                    {% if item.doses_completes %}
                                                    <div>
                                                        <a href="{% url 'certificat' maladie_id=item.maladie.id %}" class="btn btn-sm {% if item.doses_completes %}btn-light{% else %}btn-white{% endif %}">
                                                            <em class="icon ni ni-download"></em> Certificat
                                                        </a>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                <div class="card-body">
                                                    {% if item.maladie.description %}
                                                    <div class="alert alert-light mb-4">
                                                        <p class="mb-0"><strong>À propos :</strong> {{ item.maladie.description }}</p>
                                                    </div>
                                                    {% endif %}

                                                    <h6 class="title mb-3">Détails des doses reçues :</h6>
                                                    <div class="table-responsive">
                                                        <table class="table table-striped">
                                                            <thead class="bg-light">
                                                                <tr>
                                                                    <th>Vaccin</th>
                                                                    <th>Date</th>
                                                                    <th>Dose</th>
                                                                    <th>Centre</th>
                                                                    <th>Lot</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for vacc in item.vaccinations %}
                                                                <tr>
                                                                    <td>
                                                                        <div class="d-flex align-items-center">
                                                                            <em class="icon ni ni-check-circle-fill text-success me-2"></em>
                                                                            <div>
                                                                                <span class="d-block">{{ vacc.vaccin.nom }}</span>
                                                                                <small class="text-muted">{{ vacc.vaccin.fabricant }}</small>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>{{ vacc.date_vaccination|date:"d/m/Y" }}</td>
                                                                    <td>
                                                                        <span class="badge {% if vacc.dose == 1 %}bg-primary{% else %}bg-success{% endif %}">
                                                                            {{ vacc.dose }}/{{ vacc.vaccin.doses_requises }}
                                                                        </span>
                                                                    </td>
                                                                    <td>{{ vacc.centre.nom }}</td>
                                                                    <td><span class="badge bg-light text-dark">{{ vacc.lot.numero_lot|default:"-" }}</span></td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    {% if not item.doses_completes %}
                                                    <div class="alert alert-info mt-3">
                                                        <div class="d-flex">
                                                            <em class="icon ni ni-info-fill me-2"></em>
                                                            <div>
                                                                <h6>Vaccination incomplète</h6>
                                                                <p class="mb-1">Vous n'avez pas encore reçu toutes les doses requises pour ce vaccin.</p>
                                                                <p class="mb-0">
                                                                    <strong>Prochaine dose recommandée :</strong>
                                                                    {% if item.prochaine_dose %}
                                                                        {{ item.prochaine_dose|date:"d/m/Y" }}
                                                                    {% else %}
                                                                        Après {{ item.vaccinations.0.vaccin.intervalle_doses }} jours
                                                                    {% endif %}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% empty %}
                                            <div class="card border-0 shadow-sm">
                                                <div class="card-body text-center py-5">
                                                    <em class="icon ni ni-info text-soft" style="font-size: 2rem;"></em>
                                                    <h5 class="mt-3">Aucun vaccin enregistré</h5>
                                                    <p class="text-soft">Votre historique vaccinal apparaîtra ici après votre première vaccination.</p>
                                                    <a href="#" class="btn btn-primary">Prendre rendez-vous</a>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <!-- Sidebar -->
                                    <div class="card-aside card-aside-left user-aside toggle-slide toggle-slide-left toggle-break-lg" data-content="userAside" data-toggle-screen="lg" data-toggle-overlay="true">
                                        <div class="card-inner-group">
                                            <div class="card-inner p-0">
                                                <div class="user-card" style="background: linear-gradient(135deg, #FF9F0D, #009A44);">
                                                    <div class="user-avatar bg-white text-orange">
                                                        <span>{{ request.user.nom|first }}{{ request.user.prenoms|first }}</span>
                                                    </div>
                                                    <div class="user-info text-white">
                                                        <span class="lead-text">{{ request.user.nom }} {{ request.user.prenoms }}</span>
                                                        <span class="sub-text">{{ request.user.profession|default:"Patient" }}</span>
                                                    </div>
                                                    <div class="user-action">
                                                        <a href="" class="btn btn-icon btn-trigger" title="Modifier le profil">
                                                            <em class="icon ni ni-edit text-white"></em>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-inner p-0">
                                                <ul class="link-list-menu">
                                                    <li class="active">
                                                        <a href="{% url 'mes_vaccins' %}">
                                                            <em class="icon ni ni-syringe"></em>
                                                            <span>Mes Vaccins</span>
                                                            <span class="badge badge-pill bg-success">{{ vaccins_total }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="">
                                                            <em class="icon ni ni-calendar"></em>
                                                            <span>Mes Rendez-vous</span>
                                                            <span class="badge badge-pill bg-primary">{{ rdv_count }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="">
                                                            <em class="icon ni ni-file-text"></em>
                                                            <span>Mes Documents</span>
                                                            <span class="badge badge-pill bg-info">{{ documents_count }}</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="">
                                                            <em class="icon ni ni-lab"></em>
                                                            <span>Mes Analyses</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="">
                                                            <em class="icon ni ni-user"></em>
                                                            <span>Mon Profil</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="">
                                                            <em class="icon ni ni-setting"></em>
                                                            <span>Paramètres</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="card-inner text-center bg-light">
                                                <div class="p-3">
                                                    <img src="{% static 'images/logo/logoMSHPCMU.svg' %}" alt="INHP" width="120" class="mb-2">
                                                    <p class="small text-soft">Ministère de la Santé, </p>
                                                    <p class="small text-soft">Plateforme KENEYA<br>Institut National d'Hygiène Publique</p>
                                                    <a href="#" class="btn btn-sm btn-outline-primary">Aide & Support</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content @e -->

        <!-- footer @s -->
        <div class="nk-footer">
            <div class="container-fluid">
                <div class="nk-footer-wrap">
                    <div class="nk-footer-copyright">
                        &copy; {{ now|date:"Y" }} KENEYA - Plateforme de l'INHP. Ministère de la Santé et de l'Hygiène Publique.
                    </div>
                    <div class="nk-footer-links">
                        <ul class="nav nav-sm">
                            <li class="nav-item"><a class="nav-link" href="#">Confidentialité</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Conditions</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://inhp.ci" target="_blank">INHP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer @e -->
    </div>
    <!-- wrap @e -->
</div>

<style>
    /* Couleurs personnalisées */
    .bg-orange { background-color: #FF9F0D !important; }
    .bg-orange-dim { background-color: rgba(255, 159, 13, 0.1) !important; }
    .text-orange { color: #FF9F0D !important; }

    .bg-success { background-color: #009A44 !important; }
    .bg-success-dim { background-color: rgba(0, 154, 68, 0.1) !important; }

    .user-avatar.bg-primary { background-color: #0055A4 !important; }

    /* Améliorations visuelles */
    .card-header { padding: 1.25rem 1.5rem; }
    .table th { background-color: #f8f9fa; font-weight: 500; }
    .icon-circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .link-list-menu li a {
        padding: 12px 20px;
        border-left: 3px solid transparent;
        transition: all 0.3s;
    }
    .link-list-menu li.active a {
        border-left-color: #009A44;
        background-color: rgba(0, 154, 68, 0.05);
    }
    .link-list-menu li a:hover {
        background-color: rgba(0, 0, 0, 0.03);
    }
</style>

{% endblock %}







{#{% extends 'layout/base.html' %}#}
{#{% load static %}#}
{#  {% block content %}#}
{##}
{#<div class="nk-main ">#}
{##}
{#            <!-- wrap @s -->#}
{#            <div class="nk-wrap ">#}
{#                <!-- main header @s -->#}
{#                <div class="nk-header nk-header-fixed is-light">#}
{#                    <div class="container-fluid">#}
{#                        <div class="nk-header-wrap">#}
{#                            <div class="nk-menu-trigger d-xl-none ml-n1">#}
{#                                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>#}
{#                            </div>#}
{#                            <div class="nk-header-brand d-xl-none">#}
{#                                <a href="#" class="logo-link">#}
{#                                    <img class="logo-light logo-img" src="{% static 'images/logo.png' %}" alt="logo">#}
{#                                    <img class="logo-dark logo-img" src="{% static 'images/logo-dark.png' %}" alt="logo-dark">#}
{#                                </a>#}
{#                            </div><!-- .nk-header-brand -->#}
{#                            <div class="nk-header-news d-none d-xl-block">#}
{#                                <div class="nk-news-list">#}
{#                                    <a class="nk-news-item" href="#">#}
{#                                        <div class="nk-news-icon">#}
{#                                            <em class="icon ni ni-card-view"></em>#}
{#                                        </div>#}
{#                                        <div class="nk-news-text">#}
{#                                            <p>Do you know the latest update of 2019? <span> A overview of our is now available on YouTube</span></p>#}
{#                                            <em class="icon ni ni-external"></em>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div><!-- .nk-header-news -->#}
{#                            <div class="nk-header-tools">#}
{#                                <ul class="nk-quick-nav">#}
{#                                    <li class="dropdown user-dropdown">#}
{#                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                                            <div class="user-toggle">#}
{#                                                <div class="user-avatar sm">#}
{#                                                    {{ request.user.nom|first }}{{ request.user.prenoms|first }}#}
{#                                                </div>#}
{#                                                <div class="user-info d-none d-md-block">#}
{#                                                    <div class="user-status">{{ request.user.code_patient }}</div>#}
{#                                                    <div class="user-name dropdown-indicator">{{ request.user.nom }} {{ request.user.prenoms }}</div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </a>#}
{#                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">#}
{#                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">#}
{#                                                <div class="user-card">#}
{#                                                    <div class="user-avatar">#}
{#                                                        <span>{{ request.user.nom|first }}{{ request.user.prenoms|first }}</span>#}
{#                                                    </div>#}
{#                                                    <div class="user-info">#}
{#                                                        <span class="lead-text">{{ request.user.nom }} {{ request.user.prenoms }}</span>#}
{#                                                          <span class="sub-text">{{ request.user.code_patient }}</span>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="dropdown-inner">#}
{#                                                <ul class="link-list">#}
{#                                                    <li><a href="html/user-profile-regular.html"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>#}
{#                                                    <li><a href="html/user-profile-setting.html"><em class="icon ni ni-setting-alt"></em><span>Account Setting</span></a></li>#}
{#                                                    <li><a href="html/user-profile-activity.html"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a></li>#}
{#                                                    <li><a class="dark-switch" href="#"><em class="icon ni ni-moon"></em><span>Dark Mode</span></a></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                            <div class="dropdown-inner">#}
{#                                                <ul class="link-list">#}
{#                                                    <li><a href="{% url 'account_logout' %}"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </li><!-- .dropdown -->#}
{#                                    <li class="dropdown notification-dropdown mr-n1">#}
{#                                        <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">#}
{#                                            <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>#}
{#                                        </a>#}
{#                                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right dropdown-menu-s1">#}
{#                                            <div class="dropdown-head">#}
{#                                                <span class="sub-title nk-dropdown-title">Notifications</span>#}
{#                                                <a href="#">Mark All as Read</a>#}
{#                                            </div>#}
{#                                            <div class="dropdown-body">#}
{#                                                <div class="nk-notification">#}
{#                                                    <div class="nk-notification-item dropdown-inner">#}
{#                                                        <div class="nk-notification-icon">#}
{#                                                            <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>#}
{#                                                        </div>#}
{#                                                        <div class="nk-notification-content">#}
{#                                                            <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>#}
{#                                                            <div class="nk-notification-time">2 hrs ago</div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="nk-notification-item dropdown-inner">#}
{#                                                        <div class="nk-notification-icon">#}
{#                                                            <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>#}
{#                                                        </div>#}
{#                                                        <div class="nk-notification-content">#}
{#                                                            <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>#}
{#                                                            <div class="nk-notification-time">2 hrs ago</div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="nk-notification-item dropdown-inner">#}
{#                                                        <div class="nk-notification-icon">#}
{#                                                            <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>#}
{#                                                        </div>#}
{#                                                        <div class="nk-notification-content">#}
{#                                                            <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>#}
{#                                                            <div class="nk-notification-time">2 hrs ago</div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="nk-notification-item dropdown-inner">#}
{#                                                        <div class="nk-notification-icon">#}
{#                                                            <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>#}
{#                                                        </div>#}
{#                                                        <div class="nk-notification-content">#}
{#                                                            <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>#}
{#                                                            <div class="nk-notification-time">2 hrs ago</div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="nk-notification-item dropdown-inner">#}
{#                                                        <div class="nk-notification-icon">#}
{#                                                            <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>#}
{#                                                        </div>#}
{#                                                        <div class="nk-notification-content">#}
{#                                                            <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>#}
{#                                                            <div class="nk-notification-time">2 hrs ago</div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="nk-notification-item dropdown-inner">#}
{#                                                        <div class="nk-notification-icon">#}
{#                                                            <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>#}
{#                                                        </div>#}
{#                                                        <div class="nk-notification-content">#}
{#                                                            <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>#}
{#                                                            <div class="nk-notification-time">2 hrs ago</div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div><!-- .nk-notification -->#}
{#                                            </div><!-- .nk-dropdown-body -->#}
{#                                            <div class="dropdown-foot center">#}
{#                                                <a href="#">View All</a>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </li><!-- .dropdown -->#}
{#                                </ul><!-- .nk-quick-nav -->#}
{#                            </div><!-- .nk-header-tools -->#}
{#                        </div><!-- .nk-header-wrap -->#}
{#                    </div><!-- .container-fliud -->#}
{#                </div>#}
{#                <!-- main header @e -->#}
{#                <!-- content @s -->#}
{#                <div class="nk-content ">#}
{#                    <div class="container-fluid">#}
{#                        <div class="nk-content-inner">#}
{#                            <div class="nk-content-body">#}
{#                                <div class="nk-block">#}
{#                                    <div class="card card-bordered">#}
{#                                        <div class="card-aside-wrap">#}
{#                                            <div class="card-inner card-inner-lg">#}
{#                                                <div class="nk-block-head nk-block-head-lg">#}
{#                                                    <div class="nk-block-between">#}
{#                                                        <div class="nk-block-head-content">#}
{#                                                            <h4 class="nk-block-title">Bonjour {{ request.user.prenoms }}</h4>#}
{#                                                            <div class="nk-block-des"><p>Bienvenue sur votre tableau de bord patient. Ici vous pouvez consulter vos données personnelles, vaccinations, rendez-vous et plus encore.</p>#}
{##}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <div class="nk-block-head-content align-self-start d-lg-none">#}
{#                                                            <a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div><!-- .nk-block-head -->#}
{#                                                <div class="nk-block card card-bordered">#}
{##}
{##}
{#{% for item in maladies_vaccins %}#}
{#    <div class="card mb-4">#}
{#        <div class="card-header d-flex justify-content-between align-items-center {% if item.doses_completes %}bg-success text-white{% else %}bg-warning{% endif %}">#}
{#    <div>#}
{#        <h2>{{ item.maladie.nom }}</h2>#}
{#        <p class="mb-0">#}
{#            Statut:#}
{#            {% if item.doses_completes %}#}
{#                <strong>Vaccination complète</strong> <em class="ni ni-check-circle-fill"></em>#}
{#            {% else %}#}
{#                <strong>Vaccination incomplète</strong>#}
{#            {% endif %}#}
{#        </p>#}
{#    </div>#}
{#    {% if item.doses_completes %}#}
{#    <div>#}
{#        <a href="{% url 'certificat' maladie_id=item.maladie.id %}" class="btn btn-sm btn-light">#}
{#            <i class="ni ni-cloud-download-95"></i> Télécharger Certificat#}
{#        </a>#}
{#    </div>#}
{#    {% endif %}#}
{#</div>#}
{##}
{#        <div class="card-body">#}
{#            {% if item.maladie.description %}#}
{#                <p>{{ item.maladie.description }}</p>#}
{#            {% endif %}#}
{##}
{#            <h3>Mes doses reçues :</h3>#}
{#            <table class="table">#}
{#                <thead>#}
{#                    <tr>#}
{#                        <th>Vaccin</th>#}
{#                        <th>Date</th>#}
{#                        <th>Dose</th>#}
{#                        <th>Centre</th>#}
{#                        <th>Lot</th>#}
{#                    </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                    {% for vacc in item.vaccinations %}#}
{#                    <tr>#}
{#                        <td><em class="ni ni- text-success"></em>{{ vacc.vaccin.nom }} ({{ vacc.vaccin.fabricant }})</td>#}
{#                        <td><em class="ni ni-calendar-check text-success"></em> {{ vacc.date_vaccination|date:"d/m/Y" }}</td>#}
{#                        <td>{{ vacc.dose }}/{{ vacc.vaccin.doses_requises }}</td>#}
{#                        <td>{{ vacc.centre }}</td>#}
{#                        <td>{{ vacc.lot.numero_lot|default:"-" }}</td>#}
{#                    </tr>#}
{#                    {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{##}
{#            {% if not item.doses_completes %}#}
{#                <div class="alert alert-info">#}
{#                    <p>Vous n'avez pas encore reçu toutes les doses requises pour ce vaccin.</p>#}
{#                    <p>Doses requises: {{ item.vaccinations.0.vaccin.doses_requises }}</p>#}
{#                    {% if item.vaccinations.0.vaccin.intervalle_doses %}#}
{#                        <p>Intervalle recommandé entre doses: {{ item.vaccinations.0.vaccin.intervalle_doses }} jours</p>#}
{#                    {% endif %}#}
{#                </div>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#{% empty %}#}
{#    <div class="alert alert-info">#}
{#        Vous n'avez encore reçu aucun vaccin.#}
{#    </div>#}
{#{% endfor %}#}
{##}
{##}
{#                                                </div><!-- .nk-block-head -->#}
{#                                            </div><!-- .card-inner -->#}
{#                                            <div class="card-aside card-aside-left user-aside toggle-slide toggle-slide-left toggle-break-lg" data-content="userAside" data-toggle-screen="lg" data-toggle-overlay="true">#}
{#                                                <div class="card-inner-group">#}
{#                                                    <div class="card-inner">#}
{#                                                        <div class="user-card">#}
{#                                                            <div class="user-avatar bg-primary">#}
{#                                                                <span>{{ request.user.nom|first }}{{ request.user.prenoms|first }}</span>#}
{#                                                            </div>#}
{#                                                            <div class="user-info">#}
{#                                                                <span class="lead-text">{{ request.user.nom }} {{ request.user.prenoms }}</span>#}
{#                                                                <span class="sub-text">{{ request.user.profession }}</span>#}
{#                                                            </div>#}
{#                                                            <div class="user-action">#}
{#                                                                <div class="dropdown">#}
{#                                                                    <a class="btn btn-icon btn-trigger mr-n2" data-toggle="dropdown" href="#"><em class="icon ni ni-more-v"></em></a>#}
{#                                                                    <div class="dropdown-menu dropdown-menu-right">#}
{#                                                                        <ul class="link-list-opt no-bdr">#}
{#                                                                            <li><a href="#"><em class="icon ni ni-camera-fill"></em><span>Change Photo</span></a></li>#}
{#                                                                            <li><a href="#"><em class="icon ni ni-edit-fill"></em><span>Update Profile</span></a></li>#}
{#                                                                        </ul>#}
{#                                                                    </div>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </div><!-- .user-card -->#}
{#                                                    </div><!-- .card-inner -->#}
{#                                                    <div class="card-inner">#}
{#                                                        <div class="user-account-info py-0">#}
{#                                                            <h6 class="overline-title-alt">Nio Wallet Account</h6>#}
{#                                                            <div class="user-balance">12.395769 <small class="currency currency-btc">BTC</small></div>#}
{#                                                            <div class="user-balance-sub">Locked <span>0.344939 <span class="currency currency-btc">BTC</span></span></div>#}
{#                                                        </div>#}
{#                                                    </div><!-- .card-inner -->#}
{#                                                    <div class="card-inner p-0">#}
{#                                                        <ul class="link-list-menu">#}
{#                                                            <li><a href="#"><em class="icon ni ni-user-fill-c"></em><span>Mes Informations</span></a></li>#}
{#                                                            <li><a href="{% url 'mes_vaccins' %}"><em class="icon ni ni-bell-fill"></em><span>Mes Vaccins </span></a></li>#}
{#                                                            <li><a class="active" href="#"><em class="icon ni ni-activity-round-fill"></em><span>Mes Rendez-vous</span></a></li>#}
{#                                                            <li><a href="#"><em class="icon ni ni-lock-alt-fill"></em><span>Mes Documents</span></a></li>#}
{#                                                                      </ul>#}
{#                                                    </div><!-- .card-inner -->#}
{#                                                </div><!-- .card-inner-group -->#}
{#                                            </div><!-- card-aside -->#}
{#                                        </div><!-- card-aside-wrap -->#}
{#                                    </div><!-- .card -->#}
{#                                </div><!-- .nk-block -->#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <!-- content @e -->#}
{#                <!-- footer @s -->#}
{#                <div class="nk-footer">#}
{#                    <div class="container-fluid">#}
{#                        <div class="nk-footer-wrap">#}
{#                            <div class="nk-footer-copyright"> &copy; 2020 DashLite. Template by <a href="https://softnio.com" target="_blank">Softnio</a>#}
{#                            </div>#}
{#                            <div class="nk-footer-links">#}
{#                                <ul class="nav nav-sm">#}
{#                                    <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>#}
{#                                    <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>#}
{#                                    <li class="nav-item"><a class="nav-link" href="#">Help</a></li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <!-- footer @e -->#}
{#            </div>#}
{#            <!-- wrap @e -->#}
{#        </div>#}
{##}
{#{% endblock %}#}